.novelty {
  background-color: #fff;
  height: 525px;
  padding-top: 55px;
  position: relative;

  &:after {
    content: "";
    display: block;
    background: url("../images/wave-bottom-white.png") repeat-x;
    position: absolute;
    top: 100%;
    left: 0;
    height: 9px;
    width: 100%;
    z-index: 2;
  }
  
  @import "__title/__title.scss";
  @import "__wrap/__wrap.scss";
  @import "__arrow/__arrow.scss";
  @import "__container/__container.scss";
}
