// bower:scss
// endbower

$ptSansBold: pt_sansbold, Arial, sans-serif;
$dinLight: 'DIN Pro Light', Arial, sans-serif;
$dinMedium: 'DIN Pro Medium', Arial, sans-serif;
$ptSansReg: 'PT Sans Regular', Arial, sans-serif;
$dinBold: 'DIN Pro Bold', Arial, sans-serif;
$nautilus: 'Nautilus Pompilius Regular', Arial, sans-serif;

html,body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

ul, ol, p, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

@import "wrapper/wrapper.scss";
@import "container/container.scss";
@import "fixed-header/fixed-header.scss";
@import "header/header.scss";
@import "nav-link/nav-link.scss";
@import "footer/footer.scss";
@import "header-contacts/header-contacts.scss";
@import "header-search/header-search.scss";
@import "header-profile/header-profile.scss";
@import "header-basket/header-basket.scss";
@import "main-slider/main-slider.scss";
@import "offer-slider/offer-slider.scss";
@import "btn/btn.scss";
@import "switch-offer/switch-offer.scss";
@import "cost/cost.scss";
@import "header-menu/header-menu.scss";
@import "type-offer/type-offer.scss";
@import "scroll-down/scroll-down.scss";
@import "goods/goods.scss";
@import "novelty/novelty.scss";
@import "location/location.scss";
@import "map/map.scss";
@import "block-title/block-title.scss";
@import "popular/popular.scss";
@import "badge/badge.scss";
@import "expand/expand.scss";
@import "news/news.scss";
@import "logo-small/logo-small.scss";
@import "news-item/news-item.scss";
@import "social-network/social-network.scss";
@import "news-stock/news-stock.scss";
@import "paginator/paginator.scss";
