&__close-row {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  position: absolute;
  top: 24px;
  right: 0;
  cursor: pointer;
  transition: background-color .1s;

  &:before {
    content: "";
    position: absolute;
    height: 19px;
    width: 1px;
    background-color: #ccc;
    top: 1px;
    right: 11px;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    position: absolute;
    height: 19px;
    width: 1px;
    background-color: #ccc;
    top: 1px;
    right: 11px;
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: #666;
  }
}
