.order-finish {
  width: 620px;
  text-align: center;
  background: url("../images/order-finish-back.png") no-repeat center center,
              url("../images/order-finish.png") no-repeat center 46px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 177px;
  padding-bottom: 52px;

  @import "__title/__title.scss";
  @import "__text/__text.scss";
}
