&__submenu-item {
  margin-top: 10px;
  position: relative;
  padding-left: 10px;

  &:first-child {
    margin-top: 0;
  }

  &:before {
    content: "";
    background: url("../images/submenu-item.png");
    width: 3px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
  }

  @import "_active/_active.scss";
}
