.scroll-down {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 12px #999;
  background: url("../images/arrow.png") center no-repeat;
  background-color: rgba(198, 198, 198, 0.5);
  cursor: pointer;
  transition: box-shadow .1s;

  &:hover {
    box-shadow: none;
  }
}
