&__title {
  margin-top: 21px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    width: 40px;
    height: 100%;
    background: linear-gradient(to left, #fff, transparent);
    position: absolute;
    top: 0;
    right: 0;
  }
}
