&_pause {
  font-family: $ptSansBold;
  font-size: 16px;
  font-weight: normal;
  color: #f8b059;
  padding-left: 26px;
  background: url("../images/pause.png") no-repeat left center;
  height: 16px;
  cursor: text;
}
