&__link {
  font-family: $nautilus;
  font-size: 24px;
  color: #993333;
  border-bottom: 1px solid transparent;
  transition: border-color .1s, color .1s;

  &:hover {
    border-color: #dbbcbc;
    color: #f14f4f;
  }
}
