&_large {
  width: 145px;
  height: 45px;
  font-family: $dinBold;
  font-size: 24px;
  background: url("../images/btn__basket.png") no-repeat;
  background-color: #a3c626;
  background-position: 20px center;
  padding-left: 27px;
  box-shadow: 0 5px 0 #88a91f;
}
