&__row {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 23px 0;
  border-bottom: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: none;
  }

  @import "_total/_total.scss";
}
