&__text {
  display: inline-block;
  font-family: $dinMedium;
  font-size: 18px;
  padding-top: 15px;
  color: #41403e;
  border-bottom: 1px dotted #999;
  cursor: pointer;
  transition: border-color .1s, color .1s;

  &:hover {
    color: #222221;
    border-color: transparent;
  }
}
