.news {
  background: url("../images/news.png") center no-repeat;
  background-size: cover;
  height: 490px;
  padding-top: 55px;

  @import "__logo/__logo.scss";
  @import "__publicity/__publicity.scss";
  @import "__publicity-text/__publicity-text.scss";
  @import "__paragraph/__paragraph.scss";
  @import "__item/__item.scss";
  @import "__publicity-news/__publicity-news.scss";
  @import "__social/__social.scss";
}
