&_long_lighter {
  
  &:after {
    width: 380px;
    background: url("../images/wave.png") center repeat-x;
  }

  &:before {
    width: 380px;
    background: url("../images/wave.png") center repeat-x;
  }
}
