&__mark {
  height: 73px;
  width: 49px;
  background: url("../images/mark.png") no-repeat;
  color: #fff;
  font-family: $ptSansBold;
  font-size: 30px;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
  transition: transform .1s, display .1s;

  &:hover {
    transform: scale(1.2);
  }

  &:hover .map__addres {
    display: block;
  }

  @import "_first/_first.scss";
  @import "_second/_second.scss";
  @import "_third/_third.scss";
}
