&_total {
  width: 342px;
  padding-left: 49px;
  line-height: 26px;

  .basket-calculation__weight-actual {
    margin-left: 13px;
  }

  .basket-calculation__price {
    font-family: $ptSansBold;
    font-size: 30px;
  }
}
