&__addres {
  display: none;
  width: 150px;
  height: 100px;
  line-height: 100px;
  font-size: 14px;
  font-family: $nautilus;
  background-color: rgba(255, 255, 255, .7);
  color: #ad3328;
  text-shadow: -1px 0 1px #fff, 0 -1px 1px #fff, 0 1px 1px #fff, 1px 0 1px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 2px 2px 3px #000;

  @import "_top/_top.scss";
  @import "_bottom/_bottom.scss";
}
