.btn-goods {
  width: 110px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  background: url("../images/btn-goods.png") no-repeat;
  background-color: #a3c626;
  background-position: 14px center;
  padding-left: 29px;
  box-sizing: border-box;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 3px #88a91f;
  cursor: pointer;
  transition: background-color .1s, box-shadow .1s;

  &:hover {
    background-color: #768f1c;
    box-shadow: none;
  }
}

// шрифт нужен медиум
