.order-dropdown-basket {
  width: 185px;
  height: 145px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  position: relative;

  &:before {
    content: "";
    display: block;
    transform: translateX(-50%) rotate(90deg);
    border: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -20px;
    left: 50%;
  }

  @import "__text/__text.scss";
  @import "__btn/__btn.scss";
  @import "__switch/__switch.scss";
}
