.sub-text {
  font-size: 14px;
  color: #666;
  line-height: 1.4;

  @import "_small-size/_small-size.scss";
  @import "_small_indent/_small_indent.scss";
  @import "_mid_indent/_mid_indent.scss";
  @import "_large_indent/_large_indent.scss";
  @import "__header/__header.scss";
  @import "__list-item/__list-item.scss";
  @import "__img/__img.scss";
}
