&__button {
  background: url("../images/search.png") center no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 4px;
  cursor: pointer;
  outline: none;
  border: none;
}
