&__submenu-link {
  font-size: 13px;
  font-weight: bold;
  color: #912a21;
  border-bottom: 1px solid #912a21;
  transition: border-color .1s, color .1s;

  &:hover:not(.catalog__submenu-link_active) {
    border-color: transparent;
    color: #e7b9b5;
  }

  @import "_active/_active.scss";
}
