&__close {
  display: block;
  width: 33px;
  height: 35px;
  border-radius: 3px;
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer;
  transition: background-color .1s;

  &:before {
    content: "";
    position: absolute;
    height: 33px;
    width: 1px;
    background-color: #fff;
    top: 1px;
    right: 16px;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    position: absolute;
    height: 33px;
    width: 1px;
    background-color: #fff;
    top: 1px;
    right: 16px;
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: rgba(153, 153, 153, .8);
  }
}
