&_long_darker {
  
  &:after {
    width: 400px;
    background: url("../images/wave-darker.png") center repeat-x;
  }

  &:before {
    width: 400px;
    background: url("../images/wave-darker.png") center repeat-x;
  }
}
