.footer {
  width: 100%;
  height: 158px;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  background-color: #fff;

  &:before {
    content: "";
    display: block;
    background: url("../images/wave-top-white.png") repeat-x;
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 9px;
    width: 100%;
  }

  @import "__item/__item.scss";
  @import "__copyright/__copyright.scss";
  @import "__contacts/__contacts.scss";
  @import "__menu/__menu.scss";
  @import "_dark/_dark.scss";
}
