&__logo {
  width: 23px;
  height: 23px;
  position: absolute;
  top: -8px;
  left: -8px;
  border-radius: 50%;
  box-shadow: 0 0 12px #a3c626;
  cursor: pointer;
  background: url("../images/basket__logo.png") center no-repeat;
  background-color: #a3c626;
}
